@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg: white;
$navbar-default-brand-color: #c0392b;
$brand-primary: #c0392b;
$jumbotron-bg: white;

@import 'bootstrap';

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.alert-notice {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.aaccess {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 2px;
}